<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="dotNetOpenId">
      <section name="relyingParty" type="DotNetOpenId.Configuration.RelyingPartySection" requirePermission="false" allowLocation="true"/>
      <section name="provider" type="DotNetOpenId.Configuration.ProviderSection" requirePermission="false" allowLocation="true"/>
      <section name="untrustedWebRequest" type="DotNetOpenId.Configuration.UntrustedWebRequestSection" requirePermission="false" allowLocation="false"/>
    </sectionGroup>
  </configSections>
  <!-- this is an optional configuration section where aspects of dotnetopenid can be customized -->
  <dotNetOpenId>
    <relyingParty>
      <security requireSsl="false"/>
      <!-- Uncomment the following to activate the sample custom store.  -->
      <!--<store type="ConsumerPortal.Code.CustomStore, ConsumerPortal" />-->
    </relyingParty>
    <untrustedWebRequest>
      <whitelistHosts>
        <!-- since this is a sample, and will often be used with localhost -->
        <add name="localhost"/>
      </whitelistHosts>
    </untrustedWebRequest>
  </dotNetOpenId>
  <system.web>
    <!--<sessionState cookieless="true" />-->
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="Forms">
      <forms name="RelyingPartySession"/>
      <!-- named cookie prevents conflicts with other samples -->
    </authentication>
    <trace enabled="false" writeToDiagnosticsTrace="true"/>
    <!-- Trust level discussion:
    Full: everything works
    High: TRACE compilation symbol must NOT be defined
    Medium/Low: doesn't work on default machine.config, because WebPermission.Connect is denied.
    -->
    <trust level="Full" originUrl=""/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="Time">
    <system.web>
      <authorization>
        <allow users="http://judek.myopenid.com/"/>
        <allow users="https://me.yahoo.com/a/5ujuGx9rupXIpbRHoV2BnL9r#90989"/>
        <allow users="http://openid.aol.com/jude4557"/>
        <allow users="http://openid.aol.com/janeiman75"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>